@import '../../node_modules/swiper/css/swiper.min.css';
@import './keyboard.css';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  user-select: none;
  background-image: url("/../img/lowpoly.png");
  background-size: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1300px;
}

.header {
  background-color: rgb(105, 89, 201);
}
.header__wrap {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.swiper-container {
  width: 90%;
  height: 500px;
}

.card {
  display: block;
}

.search-form {
  margin-bottom: 30px;
}

.search-form__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.search-form__input-row {
  width: calc(100% - 150px);
  border: none;
  padding: 10px 70px;
  padding-top: 10px;
  background-image: url("/../img/search.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 5px 5px;
  border-radius: 10px;
  font-size: 15px;
  outline:none;
  
}

.search-form__submit {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  color: #fe6637;
  transition: .2s ease-in-out;
  
}

.search-form__keyboard-btn {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 20px 30px;
  position: absolute;
  right: 135px;
  overflow: hidden;
  border:none;
  border-radius: 8px;
  transition: .2s ease-in-out;
  background-color:transparent;
  background-image: url("/../img/keyboard.png");
  background-repeat: no-repeat;
  background-size: 35px 35px;
}

.search-form__clear-input {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 10px;

  position: absolute;
  top:10px;
  right: 200px;
  overflow: hidden;
  border:none;
  border-radius: 8px;
  transition: .2s ease-in-out;
  background-color:transparent;
  background-image: url("/../img/cross.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 50%;
}

.search-form__submit:before {
  content: "";
  background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.search-form__submit:hover {
  background: #fe6637;
  color: #fff;
}
.search-form__submit:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}


.keyboard--show {
  transform: translateY(0);
}

.card-film__poster {
  object-fit: cover;
  height: 400px;
  width: 250px;
}

.swiper {
  position: relative;
}
.swiper-wrapper {
  width: 90%;
}

.header__logo::before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/../img/logo3.svg");
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
 
}
.main {
  margin-top: 50px;
}

.header-logo {

  position: relative;

}


.spinner {
  display: inline-block;
  position: absolute;
  right: 265px;
  top: 5px;
  visibility: hidden;
}
.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(119, 200, 212) transparent transparent transparent;
}

.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner--show {
  visibility: visible;
}